:root{
  --clr-light: #fff;

  --clr-dark-100: #ececec;
  --clr-dark-300: #34353a;

  --clr-accend: #4181DA;
  --clr-accend-2: #e8f0fe;

}


.app{
  width: 100vw;
  min-height: 98vh;
}

.header{
  width: 100%;

}

.container{
  flex: 1 1;
  width: 100%;
  padding: 24px 0 48px 0;
  background-color: var(--clr-dark-100);
}